@tailwind base;
@tailwind components;
@tailwind utilities;

/* 헤더는 다른 폰트를 적용한다 */
/* header, header * {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-1Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-2ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-3Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-4Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-5Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-6SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-7Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-8ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('../public/fonts/Freesentation-9Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.btn {
    position: relative; /* 부모 요소로 설정합니다. */ 
    }
    
    .btn::after {
    content: ''; /* 가상 요소에 내용을 추가합니다. */
    position: absolute; /* 절대 위치로 설정합니다. */
    left: 0; /* 왼쪽에 위치하도록 설정합니다. */
    bottom: -2px; /* 텍스트 아래에 위치하도록 설정합니다. */
    width: 0; /* 초기 가로 길이를 0으로 설정합니다. */
    height: 1px; /* 밑줄의 높이를 설정합니다. */
    background-color: currentColor; /* 현재 텍스트의 색상과 동일한 색을 사용합니다. */
    opacity: 0; /* 초기에는 보이지 않도록 설정합니다. */
    transition: width 0.7s ease; /* 천천히 나타나는 효과를 추가합니다. */
    }
    
    .btn:hover::after {
    width: 90%; /* 호버 시 밑줄의 가로 길이를 90%로 설정합니다. */
    opacity: 1; /* 호버 시 밑줄이 나타나도록 설정합니다. */
    }
    
    .btn.active::after {
    width: 90%; /* 활성화된 상태일 때 밑줄의 가로 길이를 90%로 설정합니다. */
    opacity: 1; /* 활성화된 상태일 때 밑줄이 나타나도록 설정합니다. */
    }

