.App-Container {
    width: 100vw;
    background: #fff;
  }
  .Box {
    box-sizing: border-box;
    width: calc(100% - 56px);
    height: 776px;
    margin: 54px 28px;
    margin-top: 144px;
    border-radius: 14px;
    background: #c9c9c9;
    padding: 28px 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .BoxTitle {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Content1 {
    width: 100%;
    height: 50.194px;
    border-radius: 13.889px;
    background: #eee;
  }
  .Content2 {
    width: 100%;
    height: 288.194px;
    border-radius: 13.889px;
    background: #eee;
  }
  .Button-Group {
    display: flex;
    justify-content: space-between; /* 버튼 사이에 공간을 동일하게 배분 */
  }
  
  .Apply-Button {
    /* 버튼 스타일 */
    margin: 5px; /* 버튼 사이의 간격을 조정 */
    /* 필요한 추가 스타일 */
  }
  
  .Apply-Button {
    cursor: pointer;
    width: 172px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13.889px;
    background: #eee;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Footer {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 974px);
    background: #c9c9c9;
    padding: 27.08px 37.5px;
  }
  