* {
  margin: 0px;
  padding: 0px;
}
.mypage_box {
  margin: 50px 200px;
  padding-bottom: 100px;
  background-color: #c9c9c9;
  border-radius: 25px;
}
.mypage_title {
  padding: 30px 0px;
  text-align: center;
}
.mypage_content_box {
  display: flex;
  justify-content: space-around;
}
.mypage_content_box li {
  list-style: none;
}
.mypage_menu {
  background-color: #e9e9e9;
  width: 15%;

  border-radius: 10px;
}
.mypage_menu_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
}
.mypage_menu_list button {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.mypage_content {
  padding: 30px;
  background-color: #e9e9e9;
  width: 60%;
  border-radius: 10px;
}
.mypage_content_title {
  margin-bottom: 50px;
}
.mypage_content_list li {
  margin-bottom: 10px;
}