

.myInfo{
  display: flex;
  flex-direction: column;
  border: solid 1px;
  padding: 10px;
  width: 30vh;
  height: 80vh;
  gap: 5px;
}


.myInfo_myInfoBox{
  border: solid 1px;
  width: 100%;
  height: 40%;
}


.myInfo_categoryBox{
  border: solid 1px;
  width: 100%;
  height: 60%;
}


